body ,html{
    background-color: brown;
    border-radius:5px;
}
.container {
    margin: 1.5em;
    text-align: center;

}
.enter-country{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: aliceblue;
}
.country-name{
    background-color: rgb(223, 222, 222);
}
.search-btn{
    border: 2px solid black;
    border-radius: 7px;
    background-color: rgb(46, 44, 44);
    color:rgb(253, 251, 251);
}

.loading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color:white;
}
.errors{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
.data{
    font-family: 'Times New Roman', Times, serif;
}
.result-container{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: aliceblue;
}
.result {
    margin-top: 1em;
}